.bg{
	background:url('img3.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
}	
.form-container{
	border:0px solid white;
	padding: 50px 60px;
	margin-top: 20vh;
-webkit-box-shadow: 0px 1px 6px 18px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 6px 18px rgba(0,0,0,0.75);
box-shadow: 0px 1px 6px 18px rgba(0,0,0,0.75);
}
label{
	color: white;
	font-size:20px;
}